<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- CML args -->
  <arg name="key" default="false" doc="true for launch the keyboard control node, false for 'circle' and 'square'."/>
  <arg name="circle" default="false" doc="true for circle mode, false for square"/>
  <arg name="dialength" default="1.0" doc="Offer the diameter for circle or side length for square."/>

<!-- The turtlebot telop key control, I copied it over here because I have trouble launch the node from the apt-get install -->
<group if="$(arg key)">
  <node ns="/sevenbot" name="key_teleop" pkg="sevenbot_control" type="key_control.py" output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="3.0" type="double"/>
    <remap from="cmd_vel" to="/cmd_vel"/>
  </node>
</group>

<group unless="$(arg key)">
  <node ns="/sevenbot" name="auto_pilot" pkg="sevenbot_control" type="auto_pilot.py" output="screen">
    <param name="circle" value="$(arg circle)" type="bool"/>
    <param name="dialength" value="$(arg dialength)" type="double"/>
    <remap from="cmd_vel" to="/cmd_vel"/>    
  </node>
</group>
</launch>
